<h1>User Login</h1>

<form method="post">
    <table>
        <tr>
            <td>Name:</td>
        </tr>
        <tr>
            <td><input type="text" name="name"></td>
        </tr>

        <tr>
            <td>Email:</td>
        </tr>
        <tr>
            <td><input type="email" name="email"></td>
        </tr>

        <tr>
            <td>Password:</td>
        </tr>
        <tr>
            <td><input type="password" name="password"></td>
        </tr>

        <tr>
            <td>City:</td>
        </tr>
        <tr>
            <td>Contact:</td>
        </tr>
        <tr>
            <td><input type="text" name="contact"></td>
        </tr>

        <tr>
            <td>Gender:</td>
        </tr>
        <tr>
            <td><input type="radio" name="gender" value="male">Male
            <input type="radio" name="gender" value="female">Female</td>
        </tr>

        

       
        <tr>
            <td></td>
        </tr>
        <tr>
            <td><input type="submit" name="save"></td>
        </tr>

    </table>
</form>

<!-- <table border="">
    
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Password</th>
    <th>City</th>
    <th>Contact</th>
    <th>Gender</th>
    <th>Hobby</th>
    <th>Address</th>
    <th>DOB</th>
    <th>Delete</th>

    <% results.forEach(function(user) { %>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.password %></td>
            <td><%= user.city %></td>
            <td><%= user.contact %></td>
            <td><%= user.gender %></td>
            <td><%= user.hobby %></td>
            <td><%= user.address %></td>
            <td><%= user.dob %></td>
            <td><a href="delete/<%= user.id %>">Delete</a></td>
        </tr>
    <% }) %>


</table> -->